.stats-panel{
    display: flex;
    padding: 10px;
    gap: 50px;
    justify-content: center;
}
.stat-item{
    background-color: #f0f0f0;
    width: 250px;
    height: 125px;
    border-radius: 20px;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appointment-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.appointment-form-container{
    display: flex;
    flex-direction: column;
}